html { 
    scroll-behavior: smooth;
    height: auto;
}

body {
    font-family: Roboto;
    font-size: 17px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background: #fafbfb;
    justify-content: center;
}

.page-header h4 {
    position: relative;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 2em;
    color: #F1D31F;
    text-shadow: rgb(137, 176, 155);
    
  }


.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(48, 101, 102);
    margin: 0.2em;
   }

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 3.3em;
}

.page-header a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    background-color: rgb(137, 176, 155);
    font-family: 'Roboto';
    font-size: 18px;
    color: black;
}

.items {
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.items img {
    width: 100%;
    height: auto;
    
}

button {
    color: white;
    background-color: rgb(48, 101, 102);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px;
    padding: 10px;
    align-items: center;
}

button:hover {
    background-color: #F1D31F;
    box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 whitesmoke;
}

button:active {
    background-color: rgb(137, 176, 155);
    box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 whitesmoke;
    
}

.item {
    border: black;
    margin: auto;
    border-style: dashed solid;
    border-radius: 7px;
    padding: 1em;
    margin-bottom: 1.5em;
    box-shadow: 0.1em 5px 5px #F1D31F;
}

#item-list {
    list-style: none;
}

a:link {
    font-weight: bold;
    color: rgb(154, 139, 201);
}
a:visited {
    color: #F1D31F;
}
a:hover {
    color: whitesmoke;
}

footer {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

#cart-total {
    color: #F1D31F;
    background-color: rgb(48, 101, 102);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px;
    padding: 10px;
    align-items: center;
}








